<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<%= link_to "New product", new_product_path, class: "btn btn-secondary" %>
<div id="products">
  <% @products.each do |product| %>
    <table class="table">
    <tr>
    <th>
    Name
    </th>
    <th>
    Quantity
    </th>
    <th>
    Unit Price
    </th>
    <th>
    Actions
    </th>
    </tr>
    <tr>
    <td>
    <%= product.name %>
    </td>
    <td>
    <%= product.quantity %>
    </td>
    <td>
    <%= product.unit_price %>
    </td>
    <td>
    <%= link_to "Show", product, class: "btn btn-secondary" %>
    </td>
    </tr>
    </table>    
  <% end %>
</div>


